USE [quanlyphongkham_final]
GO


create proc [dbo].[SP_DanhSachChiTietDonThuoc] 
@MAPHIEU INT 
AS 
BEGIN
SELECT CTDT.MADONTHUOC, TENTHUOC, SOLUONG, HUONGDAN
FROM CHITIETDONTHUOC CTDT, THUOC T, DONTHUOC DT
WHERE CTDT.MATHUOC = T.MATHUOC AND DT.MADONTHUOC = CTDT.MADONTHUOC AND DT.MAPHIEUKHAM = @MAPHIEU

end
GO

create proc [dbo].[SP_Insert_ChiTietDonThuoc] 
@MAPHIEUKHAM int ,
@MADONTHUOC INT,
@MATHUOC INT,
@SOLUONG INT,
@HUONGDAN TEXT
as
begin
SELECT @MADONTHUOC = MADONTHUOC from DONTHUOC DT where  dt.MAPHIEUKHAM = @MAPHIEUKHAM
insert into CHITIETDONTHUOC VALUES (@MADONTHUOC,@MATHUOC,@SOLUONG,@HUONGDAN)

end
GO



create proc [dbo].[SP_Insert_DonThuoc]
@MAPHIEUKHAM INT,
@TONGCONG MONEY
AS 
BEGIN
INSERT INTO DONTHUOC VALUES (@MAPHIEUKHAM,@TONGCONG)

end
GO


create proc [dbo].[SP_LichSuKham] 
@MABN int
as
begin

select pk.MAPHIEUKHAM, pk.NGAYKHAM, pk.CHUANDOAN, pk.KETLUAN
from PHIEUKHAM PK, BENHNHAN BN
where pk.MABN = bn.MABN and pk.MABN = @MABN

end
GO


CREATE PROC [dbo].[SP_Search_Phieukham_By_Id]
@ID INT
AS
BEGIN 
SELECT PK.MAPHIEUKHAM,PK.MABN, PK.MANV, PK.CHUANDOAN, PK.MAHINHTHUCKHAM, PK.NHIPTIM, PK.NHIETDO, PK.HUYETAP, PK.CANNANG, PK.CHIEUCAO, PK.MAICD, PK.NGAYKHAM, PK.HOANTHANH, PK.DATHANHTOAN, PK.KETLUAN, BN.TIENSU FROM PHIEUKHAM PK, BENHNHAN BN WHERE PK.MABN = BN.MABN AND MAPHIEUKHAM  = @ID
END

GO

CREATE PROC [dbo].[SP_Search_Phieukham_By_Ten]
@TEN NVARCHAR (50)
AS
BEGIN 
SELECT MAPHIEUKHAM,HOTEN,NGAYKHAM,HOANTHANH FROM PHIEUKHAM, BENHNHAN WHERE PHIEUKHAM.MABN = BENHNHAN.MABN AND BENHNHAN.HOTEN Like '%'+@TEN+'%'
END

GO


CREATE PROC [dbo].[SP_Select_Phieukham_All]
AS
BEGIN 
SELECT * FROM PHIEUKHAM
END

GO

CREATE PROC [dbo].[SP_Select_Phieukham_Chokham]
AS
BEGIN 
SELECT PHIEUKHAM.MAPHIEUKHAM, BENHNHAN.HOTEN   FROM PHIEUKHAM, BENHNHAN WHERE PHIEUKHAM.MABN = BENHNHAN.MABN AND HOANTHANH = 0
END

GO


CREATE PROC [dbo].[SP_Update_Phieukham]
@MAPHIEUKHAM INT,
@MABN INT,
@CHUANDOAN NVARCHAR(250),
@NHIPTIM NVARCHAR (10),
@NHIETDO NVARCHAR (10),
@HUYETAP NVARCHAR (10),
@CANNANG INT,
@CHIEUCAO INT,
@MAICD NVARCHAR(10),
@NGAYKHAM DATE,
@KETLUAN NVARCHAR(50),
@TIENSU NVARCHAR(250)
AS
BEGIN 
UPDATE PHIEUKHAM SET 
MABN = @MABN,
CHUANDOAN = N''+ @CHUANDOAN +'',
NHIPTIM = @NHIPTIM,
NHIETDO = @NHIETDO,
HUYETAP = @HUYETAP,
CANNANG = @CANNANG,
CHIEUCAO = @CHIEUCAO,
MAICD = @MAICD,
NGAYKHAM = @NGAYKHAM,
KETLUAN = @KETLUAN
WHERE MAPHIEUKHAM = @MAPHIEUKHAM
UPDATE BENHNHAN SET TIENSU = @TIENSU where BENHNHAN.MABN = @MABN 
END

GO



CREATE proc [dbo].[SP_LichSuKhamNhanVien] 
@MaNhanVien int
as
begin
select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from (BENHNHAN BN inner join PHIEUKHAM PK on BN.MABN = PK.MABN) where PK.MANV = @MaNhanVien
end
GO


CREATE proc [dbo].[SP_TimKiemLichSuKhamNhanVien] 
@ThongTin varchar(20),
@DuLieu varchar (50),
@MaNhanVien int
as 
begin 
	IF @ThongTin = 'MAPHIEUKHAM' select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from BENHNHAN BN, PHIEUKHAM PK where BN.MABN = PK.MABN AND PK.MANV = @MaNhanVien  AND MAPHIEUKHAM = @DuLieu;
	IF @ThongTin = 'MABN'	     select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from BENHNHAN BN, PHIEUKHAM PK where BN.MABN = PK.MABN AND PK.MANV = @MaNhanVien  AND PK.MABN = @DuLieu;
	IF @ThongTin = 'HOTEN'		 select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from BENHNHAN BN inner join PHIEUKHAM PK on BN.MABN = PK.MABN where PK.MANV = @MaNhanVien AND  BN.HOTEN LIKE '%'+@DuLieu+'%';
	IF @ThongTin = 'NGAYKHAM'	 select BN.MABN, PK.MAPHIEUKHAM, BN.HOTEN, PK.NGAYKHAM,PK.DATHANHTOAN from BENHNHAN BN, PHIEUKHAM PK where BN.MABN = PK.MABN AND PK.MANV = @MaNhanVien  AND NGAYKHAM = @DuLieu;
END

GO